<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JIIT Time Table Extractor</title>
    <link rel="stylesheet" href="../static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/assets/css/user.css">
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header"><a class="navbar-brand navbar-link" href="#"><strong>JIIT Time Table Extractor</strong></a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active" role="presentation">
                        <a href="#"> </a>
                    </li>
                    <li role="presentation"><a href="https://docs.google.com/forms/d/e/1FAIpQLSdgmRcJOY9UkUBj0NTbg1iemqSyl61qmamgQ1QVr1hZ-fWEuw/viewform?usp=sf_link">Feedback </a></li>
                   
                </ul>
            </div>
        </div>
    </nav>
    <div class="jumbotron hero">
    <h1 class="text-center" style="color: white;"><strong>JIIT Time Table Extractor</strong></h1>
    <h2 class="text-center" style="color: white;">Simplifying life at JIIT</h2></div>
    <p>Automated using Pandas and Python</p>
    <section class="testimonials"></section>
    <div class="container-fluid">
        <form action="/" method="Post">
        	<center>
            <!-- <input class="form-control" type="text" name="year" required="Enter your year (1/2/3/4)" placeholder="Enter your year (1/2/3/4)" style="max-width: 500px;"></center> -->

                        <div class="form-group" style="max-width: 500px; ">
              <label for="sel1"><b>Select your Year (Available for 2nd and 3rd year only currently)</b></label>
              <select class="form-control" name="year" required="Please select a valid year" id="sel1">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
              </select>
            </div>

            <div >
                <b>Enter your batch  </b>
            <input class="form-control" type="text" name="batch" required="Enter your year (1/2/3/4)" placeholder="(Example: E7)" style="max-width: 500px;"></center>
       </div>
    </div>
    <center>

 <input class="btn btn-default" type="submit" name="submit" value="Submit" style="align-content: center; margin-top: 10px;" />
 </form>


        </center><script src="../static/assets/js/jquery.min.js"></script>
    <script src="../static/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
