<!DOCTYPE html>
<html>
<head>
	<title>Thankyou!</title> <link rel="stylesheet" href="../static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/assets/css/user.css">
</head>
<body>
	<div style="padding: 20px 20px;">
<h3>Thankyou for using my app! If you want to contribute or report a bug, drop a mail to kbhutani0001@gmail.com</h3> <a href="../static/timetable.jpg" download="">
<button class="btn btn-default">
Download image
</button>
</a>
<br>
<br>
<br>
   
    <img src="../static/timetable.jpg" style="width: 100%">
	    
</div>

</body>
</html>