<!DOCTYPE html>
<html>
<head>
      <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JIIT Time Table Extractor</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
</style>
</head>
<body>
<table class="table" style="width:100%; padding: 30px 30px;">

  <tr>
    <th scope="col">Days/Time</th>
    <th scope="col">9-9:50 AM</th>
    <th scope="col">9:55-10:45 AM </th>
    <th scope="col">10:50-11:40 AM  </th>
    <th scope="col">11:45-12:35 PM</th>
    <th scope="col">12:40- 1:30 PM</th>
    <th scope="col">1:35-2:25PM</th>
    <th scope="col">2:30-3:20 PM</th>
    <th scope="col">3:25-4:15 PM</th>
    <th scope="col">04:20 -5:10 PM</th>
  </tr>


  <tr>
    <td>Mon</td>

    {%for i in range(0,9)%}
 
    <td>{{tt_dict['Mon'][i]}}</td>
{%endfor%}
  </tr>


  <tr>
    <td>Tue</td>

    {%for i in range(0,9)%}
 
    <td>{{tt_dict['Tue'][i]}}</td>
{%endfor%}
  </tr>


  <tr>
    <td>Wed</td>

    {%for i in range(0,9)%}
 
    <td>{{tt_dict['Wed'][i]}}</td>
{%endfor%}
  </tr>


  <tr>
    <td>Thu</td>

    {%for i in range(0,9)%}
 
    <td>{{tt_dict['Thu'][i]}}</td>
{%endfor%}
  </tr>


  <tr>
    <td>Fri</td>

    {%for i in range(0,9)%}
 
    <td>{{tt_dict['Fri'][i]}}</td>
{%endfor%}
  </tr>


  <tr>
    <td>Sat</td>

    {%for i in range(0,9)%}
 
    <td>{{tt_dict['Sat'][i]}}</td>
{%endfor%}
  </tr>

</table>

</body>
</html>
